.grid-col-xs-15.grid-col-md-3
  article.item
    a(href="http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_b.jpg" rel="gallery1").fancybox
      img(src="images/content/img-item-gallery-1.jpg" width="200" height="157" alt="img-description")
      i.fa.fa-search-plus
.grid-col-xs-15.grid-col-md-3
  article.item
    a(href="http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_b.jpg" rel="gallery1").fancybox
      img(src="images/content/img-item-gallery-1.jpg" width="200" height="157" alt="img-description")
      i.fa.fa-search-plus
.grid-col-xs-15.grid-col-md-3
  article.item
    a(href="http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_b.jpg" rel="gallery1").fancybox
      img(src="images/content/img-item-gallery-1.jpg" width="200" height="157" alt="img-description")
      i.fa.fa-search-plus
.grid-col-xs-15.grid-col-md-3
  article.item
    a(href="http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_b.jpg" rel="gallery1").fancybox
      img(src="images/content/img-item-gallery-1.jpg" width="200" height="157" alt="img-description")
      i.fa.fa-search-plus
.grid-col-xs-15.grid-col-md-3
  article.item
    a(href="http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_b.jpg" rel="gallery1").fancybox
      img(src="images/content/img-item-gallery-1.jpg" width="200" height="157" alt="img-description")
      i.fa.fa-search-plus