//
// Links
// --------------------------------------------------

// General styles
// --------------------------------------------------
.link {
  font-size: $font-size-base;
  outline: none;
  text-decoration: underline;
  @media only screen and (min-width: $lg-breakpoint) {font-size: $font-size-base - 2px;}
  @media only screen and (min-width: $xl-breakpoint) {font-size: $font-size-base;}
  .is-desktop & {
    &:hover {text-decoration: none;}
  }
  .h1 & {margin-left: 20px;}
}

// Color variants styles
// --------------------------------------------------
.link-orange {color: $brand-warning;}
.link-gray {color: $gray-dark;}