footer#footer
  .container
    .grid-row.no-b-indent
      .grid-col-xs-15.grid-col-lg-8
        ul.list.gray-list
          li
            a(href="#") Homepage
          li
            a(href="#") Contact
          li
            a(href="#") Sitemap
      .grid-col-xs-15.grid-col-lg-7.lg-text-right
        a(href="#") Ontwikkeld door <strong>FXD</strong>easy