header#header(data-scroll-section="header" data-add-class-parent)
  .top-bar
    .container
      a.nav-opener(href="#" data-nav-opener)
        i.fa.fa-bars
        i.fa.fa-times
      .basket-box
        a(href="#")
          span.number 12
          i.fa.fa-shopping-cart
      ul.list.options
        li
          a(href="mailto:info@adena.nl")
            i.fa.fa-envelope-o
            | info@adena.nl
        li.text-right.lg-text-left
          a(href="tel:0341202040")
            i.fa.fa-phone
            | 0341 20 20 40
        li.lg-visible
          a(href="#") Mijn account
        li.lg-visible
          a(href="#") Bekijk winkelmandje
  .container
    .grid-row
      .grid-col-lg-5
        a(href="#").logo-link
          img(src="images/content/img-logo-1.jpg" width="310" height="173" alt="img-description").logo
      .grid-col-lg-10
        nav#nav.xl-align-right.uppercase
          ul.list
            li.active-item
              a(href="#")
                | HOME
                i.fa.fa-angle-right
            li(data-add-class-parent)
              a(href="#" data-add-class)
                | COLLECTIE
                i.fa.fa-angle-right
              .drop-box
                .drop
                  ul.list.vertical-list
                    li
                      a(href="#")
                        | SUBPAGE
                        i.fa.fa-angle-right
                    li
                      a(href="#") SUBPAGE
                    li
                      a(href="#") SUBPAGE
                    li
                      a(href="#") SUBPAGE
            li
              a(href="#")
                | SHOWROOM
                i.fa.fa-angle-right
            li
              a(href="#")
                | OVER ONS
                i.fa.fa-angle-right
            li
              a(href="#")
                | FOTOALBUM
                i.fa.fa-angle-right
            li
              a(href="#")
                | NIEUWS
                i.fa.fa-angle-right
            li
              a(href="#")
                | PARTNERS
                i.fa.fa-angle-right
            li
              a(href="#")
                | CASES
                i.fa.fa-angle-right
            li
              a(href="#")
                | CONTACT
                i.fa.fa-angle-right