//
// Fotter
// --------------------------------------------------

// Base styles
// --------------------------------------------------

#footer {
  border-bottom: 1px solid $gray;
  color: $gray-dark;
  padding: 26px 0 22px;
  a {
  	color: $gray-dark;
  	.is-desktop & {
  		&:hover {color: $brand-warning;}
  	}
  }
}