//
// Header
// --------------------------------------------------

// Base styles
// --------------------------------------------------

#header {
  background: $gray-dark;
  margin: 0 0 -10px;
  position: relative;
  z-index: 6;
  .logo-link {
    display: inline-block;
    vertical-align: top;
  }
}

// Top bar styles
// --------------------------------------------------

.top-bar {
  background: $gray-dark;
  padding: 20px 0 9px;
  @media only screen and (min-width: $lg-breakpoint) {
    padding: 25px 0 14px;
    background: $brand-primary;
  }
}

// Basket box styles
// --------------------------------------------------

.basket-box {
  color: $brand-warning;
  display: block;
  font-size: $font-size-large + 5px;
  margin: 0 58px 15px 0;
  position: relative;
  text-align: right;
  a {color: $brand-warning;}
  @media only screen and (min-width: $lg-breakpoint) {
    display: inline;
    float: right;
    margin: -9px 20px 0 23px; 
  }
  @media only screen and (min-width: $xl-breakpoint) {margin: -3px 20px 0 23px;}
  .number {
    position: absolute;
    right: -9px;
    top: -8px;
  }
}

// Navigation styles
// --------------------------------------------------

#nav {
  background: $gray-dark;
  display: none;
  left: -7px;
  overflow: hidden;
  position: absolute;
  right: -7px;
  top: -51px;
  .open & {display: block;}
  @media only screen and (min-width: $lg-breakpoint) {
    background: none;
    display: block;
    margin: 0 -14px 0 0;
    overflow: visible;
    position: static;
  }
  @media only screen and (min-width: $xl-breakpoint) {
    float: right;
    margin: 0 2px 0 0;
  }
  .fa-angle-right,
  .fa-arrow-circle-o-right {
    color: $white;
    display: none;
    font-size: $font-size-base;
    margin: -8px 0 0;
    position: absolute;
    right: 25px;
    top: 50%;
    .active-item & {display: block;}
    @media only screen and (min-width: $lg-breakpoint) {display: none;}
  }
  .list {
    font-size: 15px;
    padding: 0;
    @media only screen and (min-width: $lg-breakpoint) {
      padding: 0;
      font-size: 13px;
    }
    @media only screen and (min-width: $lxl-breakpoint + 18px) {font-size: 15px;}
    > li {
      float: none;
      padding: 0;
      border-top: 1px solid $brand-primary-light;
      @media only screen and (min-width: $lg-breakpoint) {
        border: none;
        float: left;
        padding: 23px 6px;
      }
      @media only screen and (min-width: $xl-breakpoint) {padding: 23px 12px;}
      &.active-item {
        a {color: #f36f36;}
        .fa-angle-right {display: block;}
        @media only screen and (min-width: $lg-breakpoint) {
          a {
            color: $white;
            .is-desktop & {
              &:hover {color: $brand-warning;}
            }
          }
          .fa-angle-right {display: none;}
        }
      }
    }
    a {
      padding: 17px 40px 15px 22px;
      display: block;
      position: relative;
      @media only screen and (min-width: $lg-breakpoint) {padding: 0;}
    }
    .vertical-list {
      padding: 0;
      a {padding: 17px 40px 15px 22px;}
      .fa-angle-right {display: block;}
      > li {
        float: none;
        border: none;
        padding: 0;
        &:first-child {border: none;}
        @media only screen and (min-width: $lg-breakpoint) {
          border-top: 1px solid #545454;
          float: none;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}