@font-face {
    font-family: 'Cuprum-Regular';
    src: url('../fonts/cuprum.eot'),
         url('../fonts/cuprum.woff') format('woff'),
         url('../fonts/cuprum.ttf') format('truetype'),
         url('../fonts/cuprum.svg#Cuprum-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}