//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);

  small,
  .small {font-size: 65%;}
  &.middle-indent {margin: 0 0 12px;}
}
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);

  small,
  .small {font-size: 75%;}
}

h1, .h1 {
  font-size: $font-size-h1 - 34px;
  line-height: 30px;
  margin: 0 0 10px;
  @media only screen and (min-width: $lg-breakpoint) {
    font-size: $font-size-h1 - 15px;
    line-height: 55px;
    margin: 0 0 3px;
  }
  @media only screen and (min-width: $xl-breakpoint) {
    font-size: $font-size-h1;
    line-height: 70px;
  }
  &.light-color {color: $white;}
}
h2, .h2 {
  font-size: 20px;
  margin: 0 0 15px;
  @media only screen and (min-width: $lg-breakpoint) {
    font-size: 21px;
    margin: 0 0 32px;
  }
  @media only screen and (min-width: $lxl-breakpoint) {font-size: 30px;}
  &.middle-b-indent {margin: 0 0 22px;}
  &.small-b-indent {
    margin: 0 0 10px;
    @media only screen and (min-width: $lg-breakpoint) {margin: 0 0 20px;}
  }
  &.smaller-b-indent {margin: 0 0 10px;}
}
h3, .h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin: 0 0 4px;
  @media only screen and (min-width: $lg-breakpoint) {
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 10px;
  }
  @media only screen and (min-width: $xl-breakpoint) {
    font-size: 17px;
    line-height: 22px;
    margin: 0 0 15px;
  }
}
h4, .h4 {font-size: $font-size-h4;}
h5, .h5 {font-size: $font-size-h5;}
h6, .h6 {font-size: $font-size-h6;}

.sub-title {
  font-size: 20px;
  margin: 0 0 15px;
  @media only screen and (min-width: $lg-breakpoint) {
    font-size: 30px;
    margin: 0 0 20px;
  }
  @media only screen and (min-width: $xl-breakpoint) {
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    margin: 0 0 30px;
  }
}

// Body text
// -------------------------

p {margin: 0 0 ($line-height-computed / 2);}

.lead {
  line-height: 1.4;
  margin-bottom: $line-height-computed;
}
.lead-large-indent {
  margin: 0 0 15px;
  @media only screen and (min-width: $lg-breakpoint) {margin: 0 0 24px;}
}